<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <app-summary-tile [summaryFigure]="'100'" [summaryTitle]="'Total Books'" [summaryDescription]="'Total Number of Books'"> </app-summary-tile>
    </div>
    <div class="col-sm-6 col-lg-3">
      <app-summary-tile [summaryFigure]="'32'" [summaryTitle]="'Borrowed Books'" [summaryDescription]="'Total Number of Borrowed Books, That are in the hands of students'"> </app-summary-tile>
    </div>
    <div class="col-sm-6 col-lg-3">
      <app-summary-tile [summaryFigure]="'68'" [summaryTitle]="'Remained Books'" [summaryDescription]="'Total Number of Available Books, Books that can be borrowed'"> </app-summary-tile>
    </div>
    <div class="col-sm-6 col-lg-3">
      <app-summary-tile [summaryFigure]="'40'" [summaryTitle]="'Total Students'" [summaryDescription]="'Total Number of Students in The Class / School'"> </app-summary-tile>
    </div>
  </div>

  <div>

    <app-test-output  [musicianName]="'Test Name 12'"  (newMusicianEvent)="addArtists($event)"></app-test-output>

    <ul>
      <li *ngFor="let musician of musicians">{{musician}}</li>
    </ul>

  </div>
</div>
